.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    color: var(--white);
    width: 100%;
    height: 54px;
    background: linear-gradient(180deg, #101010 0%, var(--black) 100%);
}

.firstBanner {
    margin-top: 54px;
}

.secondBanner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards; 
    transform: translateY(100%); 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.firstBanner .lightingEffect,
.firstBanner .additionalEffect,
.secondBanner .lightingEffect {
    position: absolute;
    width: 1408px;
    height: 1408px;
    flex-shrink: 0;
    border-radius: 1408px;
    filter: blur(92px);
    top: 50%;
    right: 0;
}

.firstBanner .lightingEffect {
    background: radial-gradient(50% 50% at 50% 50%, #FAE571 0%, rgba(11, 14, 23, 0.00) 100%);
    transform: translate(20%, -125%);
}

.firstBanner .additionalEffect {
    background: radial-gradient(50% 50% at 50% 50%, rgba(29, 93, 199, 0.00) 0%, rgba(11, 23, 61, 0.00) 100%);
    transform: translate(-60%, -120%);
}

.secondBanner .lightingEffect {
    background: radial-gradient(50% 50% at 50% 50%, #FAE571 0%, rgba(11, 14, 23, 0.00) 100%);
    transform: translate(20%);
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
}